$clouds: #ecf0f1;
$silver: #bdc3c7;
$city-lights: #dfe6e9;
$soothing-breeze: #b2bec3;
$turquoise: #1abc9c;
$green-sea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$light-greenish-blue: #55efc4;
$mint-leaf: #00b894;
$faded-poster: #81ecec;
$robins-egg-blue: #00cec9;
$green-darner-tail: #74b9ff;
$electron-blue: #0984e3;
$shy-moment: #a29bfe;
$exodus-fruit: #6c5ce7;
$peter-river: #3498db;
$belize-hole: #2980b9;
$sun-flower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$sour-lemon: #ffeaa7;
$bright-yarrow: #fdcb6e;
$first-date: #fab1a0;
$orange-ville: #e17055;
$pink-glamour: #ff7675;
$chi-gong: #d63031;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$pico-8-pink: #fd79a8;
$prunus-avium: #e84393;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$concrete: #95a5a6;
$asbestos: #7f8c8d;
$american-river: #2d3436;
$dracula-orchid: #2d3436;
