$header-height: 300px;
$particles-height: 500px;
$header-static-height: 50px;
$logo-height: 50px;
$main-color: #2a323a;
$sizes: (
        size-1x: 1em,
        size-2x: 2em,
        size-3x: 3em,
        size-4x: 4em,
        size-5x: 5em,
        size-6x: 6em,
        size-7x: 7em,
        size-8x: 8em,
        size-9x: 9em,
        size-10x: 10em
);
