@import "../colors";
@import "../images";
@import "../variables";

@keyframes animate-linear {
  from {
    transform: translateX(-50%) translateZ(0);
  }
  to {
    transform: translateX(0) translateZ(0);
  }
}

@keyframes animate-flip {
  from {
    transform: translateX(-50%) translateZ(0) scaleX(-1);
  }
  to {
    transform: translateX(0) translateZ(0) scaleX(-1);
  }
}

@mixin animation-asset($url, $options) {
  animation: animate-linear $options;
  background-image: url($url);
}

.jumbotron {
  &.header-animated {
    border-radius: 0;
  }
}

.header-animated {
  background: linear-gradient(#0f1b1c, #2f3640);
  background-size: auto 100%;
  overflow: hidden;
  padding: 90px 0 0 0;

  &__illustration {
    background: url($scene-960) center top;
    background-size: auto 100%;
    height: $header-height / 2;

    & > div {
      display: none;
    }

    @media screen and (min-width: 480px) {
      background: url($scene-1530) center top;
      background-size: auto 100%;
      height: $header-height / 2;
    }

    @media screen and (min-width: 960px) {
      background: transparent;
      height: $header-height;
      position: relative;

      & > div {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: $scenario-width * 2;
      }

      @each $key, $value in $generic-assets-to-animate {
        .#{$key} {
          @include animation-asset("../images/#{$key}.png", $value)
        }
      }

      .cloud-back {
        animation: animate-flip 280s linear infinite;
        background: url($cloud) repeat-x center bottom;
        opacity: .6;
      }

      .cloud-front {
        animation: animate-linear 350s linear infinite reverse;
        background: url($cloud) repeat-x center bottom;
        opacity: .8;
      }

      .stars {
        background-size: 25%;
        opacity: .5;
      }

      .stars-front {
        background-size: 30%;
        opacity: .7;
      }
    }
  }

  &__subtitle {
    color: $clouds;
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5;
  }

  &__title {
    color: $space-astronaut;
    font-size: 38px;
    font-weight: bold;
  }
}

.header-nav {
  background-color: lighten($main-color, 3%);

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      border-top: 1px solid darken($main-color, 5%);
      color: $clouds;
      display: block;
      font-size: 1.5em;
      padding: 1em;

      &:hover {
        background: darken($main-color, 3%);
        text-decoration: none;
      }
    }

    .non-menu & {
      display: none;
    }

    .menu-opened & {
      display: block;
    }
  }

  &__logo {
    color: $space-astronaut;
    display: inline-block;
    font-size: 1.2em;
    height: $logo-height;
    max-width: 350px;
    position: relative;
    top: 10px;

    &:hover {
      color: darken($space-astronaut, 15%);
      text-decoration: none;
    }
  }

  &__navbar {
    display: none;

    .non-menu & {
      background: transparent;
      border: none;
      color: $clouds;
      display: inline-block;
      font-size: 2em;
      float: right;
      height: 100%;
      outline: none;
      padding: 0 .5em;

      &:focus, &:hover {
        background: lighten($main-color, 5%);
      }
    }
  }

  .container {
    ul {
      margin: 0;
    }
  }

  .non-menu & {
    height: $header-static-height;

    .container {
      height: 100%;
    }
  }
}
