@import "../images";
@import "../variables";

.jumbotron {
  &.header-animated {
    border-radius: 0;
  }
}

.header-animated {
  background-color: $main-color;
  padding: 90px 0 0 0;

  &__illustration {
    background: url($scene_960) center top;
    background-size: auto 100%;
    height: $header-height / 2;
  }

  &__subtitle {
    color: white;
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5;
  }

  &__title {
    color: #00151a;
    font-size: 38px;
    font-weight: bold;
  }
}

.header-nav {
  background-color: lighten($main-color, 10%);

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      border-top: 1px solid darken($main-color, 5%);
      color: white;
      display: block;
      font-size: 1.5em;
      padding: 1em;

      &:hover {
        background: darken($main-color, 3%);
        text-decoration: none;
      }
    }

    .non-static & {
      display: none;
    }

    .menu-opened & {
      display: block;
    }
  }

  &__logo {
    display: inline-block;
    height: $logo-height;
    max-width: 350px;
    position: relative;
    top: 10px;

    img {
      max-width: 100%;
      height: 100%;
    }
  }

  &__navbar {
    display: none;

    .non-static & {
      background: transparent;
      border: none;
      color: white;
      display: inline-block;
      font-size: 2em;
      float: right;
      height: 100%;
      outline: none;
      padding: 0 .5em;

      &:focus, &:hover {
        background: lighten($main-color, 5%);
      }
    }
  }

  .container {
    ul {
      margin: 0;
    }
  }

  .non-static & {
    height: $header-static-height;

    .container {
      height: 100%;
    }
  }
}
